<%- include('layout/header') %>
    <div class="container page-content">
        <div class="row">
            <div class="col-lg-12">
                <h1>Seja bem vindo(a).<br />Navegue utilizando os botões na barra acima.</h1>
            </div>
        </div>
    </div>
    <style>
        .page-content {
            display: flex;
            height: 100vh;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    </style>
    <%- include('layout/footer') %>