<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class = "container">
        <a href="/" class="navbar-brand"><i class="fa-solid fa-laptop-file mx-2"></i>Cadastro Eleitoral</a>
        <button class="navbar-toggler" data-bs-target="#my-nav"
        data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <u1 class = "navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class = "fas fa-home me-i"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/funcao"><i class="fa-solid fa-clipboard mx-1"></i>Funções</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-solid fa-address-card mx-1"></i></i>Candidatos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-solid fa-car mx-1"></i>Veículos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-solid fa-brazilian-real-sign mx-1"></i>Salários</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-solid fa-file-lines mx-1"></i>Contrato Pessoal</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fa-regular fa-file-lines mx-1"></i>Contrato Veículo</a>
                </li>
            </u1>
        </div>
    </div>
</nav>